@using CognitiveExample.Web.Models.CognitiveEntities
@model AnalysisViewModel 

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2>@Model.Name - @Model.Username</h2>
        </div>
        <div class="col-md-3">
            <img src="@Model.ProfileImageUrl" />
        </div>
    </div>

    @foreach (var feeling in Model.Feelings)
    {
        @if (feeling.AttitudeTowards.Equals(Attitude.Positive))
        {
            <div class="panel panel-success">
                <div class="panel-heading">Positive Tweet</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7">
                            <b>Tweet</b>
                            <br />
                            @feeling.Tweet
                        </div>
                        <div class="col-md-3">
                            <b>Things liked</b>
                            @foreach (var thing in feeling.ThingFeltFor)
                            {
                                <div>
                                    @thing
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-danger">
                <div class="panel-heading">Negative Tweet</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7">
                            <b>Tweet</b>
                            <br />
                            @feeling.Tweet
                        </div>
                        <div class="col-md-3">
                            <b>Things disliked</b>
                            @foreach (var thing in feeling.ThingFeltFor)
                            {
                                <div>
                                    @thing
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>